.glowing-cursor {
  position: fixed;
  mix-blend-mode: overlay;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  /* scale: 9; */
  background: #fff;
  filter: blur(100px),invert();
  transform: translate(-50%, -50%);
  box-shadow: 0 0 500px 300px rgba(255, 255, 255, 0.6),
              0 0 700px 500px rgba(255, 255, 255, 0.4),
              0 0 900px 700px rgba(255, 255, 255, 0.2);
  transition: transform 0.5s ease-in-out;
}
