
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --thin-font:"Ubuntu", sans-serif;
    --light-font:"Julius Sans One", sans-serif;
    --heading-font:"DM Serif Display", serif;
    --main-heading-font:"Cormorant", serif;
    --sub-heading-font:"Righteous", sans-serif;
    --other-font:"Noto Serif Display", serif;

    --white-color:#fffcf9;
    --black-color:#040403;
}
/* ========== Base Setup ========== */
* {
  font-family: var(--light-font);
  font-weight: 100;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background: var(--black-color);
  color: var(--white-color);
  /* height: 100vh; */
  /* overflow-x: hidden; */
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

/* ========== Navbar ========== */
.navbar {
  height: 13vh;
  display: flex;
  align-items: center;
  padding: 0 50px;
  font-size:clamp(2vmin , 2vw ,2vmin);
  width: 100%;
  justify-content: space-between;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0,),transparent) ; */
  /* backdrop-filter: blur(10px); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* ========== Logo ========== */
.nav-logo {
  font-family: var(--sub-heading-font);
  font-size: 2vmin;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--white-color);
  transition-duration: .2s;
  padding: 9px;
  border: 1px solid transparent;
  border-radius: 10px;

}
.nav-logo:hover {
  color:#fffcf980;
  transition-duration: 0.4s;
  border: 1px solid rgba(128, 128, 128, 0.185);
}

/* ========== Divider ========== */
.bi-vertical-bar {
  margin: 0 2vw;
  font-size: 1.5vmin;
  font-weight: 900;
}

/* ========== Layout ========== */
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ========== Nav Items ========== */
.nav-items {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-links {
  padding: 5px;
  position: relative;
}



/* ========== Hover Underline Effect ========== */
.nav-links .lLine,
.nav-links .rLine {
  position: absolute;
  background: #fff;
  height: 0.6%;
  top: 100%;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.nav-links .lLine {
  width: 0;
  left: 0;
}

.nav-links .rLine {
  width: 100%;
  right: 0;
}

.nav-links:hover .rLine {
  width: 0;
}

.nav-links:hover .lLine {
  width: 100%;
  transition-delay: 0.1s;
}

/* ========== Anchor Style ========== */
.nav-links a {
  font-size: 1.3vmin;
  text-transform: uppercase;
  color: var(--white-color);
  text-decoration: none;
}

/* ========== Icons ========== */
.bi-list-nested {
  font-size: 1.8vmin;
  cursor: pointer;
}

.nav-icons {
  font-size: 1.8vmin;
  cursor: pointer;
}





/* ========== Home ========== */
.home{
  min-height: 100vh;
  width: 100%;
}
.cardContainer{
  /* min-height: 50vh; */
  width: 80%;
  background: #ffffff05;
  z-index: 11;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  padding: 20px;
  box-shadow: inset -5px -10px 20px #454545,
              5px 10px 20px #121212;
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  position: absolute;
  top: 70%;
  left: 10%;
  gap: 2vmin;
}



.home .img{
  min-height: 100vh;
  width: 100vw;
  background-image: url("../images/ladakh1.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-position: 20% 50%; */
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 15%;
  opacity: 0.6;
  align-items: center;
  justify-content: start;
}
.home .img:after{
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(to top,var(--black-color),rgb(0,0,0,0.5),transparent);

}
.home .logoTitle{
  z-index: 2;
  text-align: center;
  font-size: 20vmin;
  width: 100%;
  color: transparent;
  font-family: var(--sub-heading-font);
  -webkit-text-stroke: 4px #ffffff;
}


@media screen and (max-width: 768px){
.home .img{
  background-image: url("../images/ladakh1.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 20% 50%;
  padding-top: 45%;
}
.home .img:after{
  background-image: linear-gradient(to top,var(--black-color),rgb(0,0,0,0.9),rgb(0,0,0,0.7),transparent);

}
.home .logoTitle{
  font-size: 12vmin;
  -webkit-text-stroke: 1.3px #ffffff;
  text-shadow: 0px 0px 150px rgba(0, 0, 0, 0.531);
  position: relative;
}
.home .logoTitle{
  position: absolute;
  height: 0%;
  background: #000;
}

/*   
  .cardContainer{
    background: #000;
    width: 90%;
    min-height: 100vh;
  }
 */




}















/* ========== Responsive Styles ========== */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    height: auto;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
  }
  .nav-logo{
    display: block;
    margin: auto;
  }
  .nav-left,
  .nav-right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  .nav-right {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-logo {
    font-size: 5vmin;
    margin-bottom: 10px;
  }

  .nav-items {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .nav-items.show {
    display: flex;
  }

  .nav-links a {
    font-size: 2.95vmin;
    letter-spacing: 2px;
}

  .bi-vertical-bar {
    display: none;
  }

  .bi-list-nested {
    font-size: 4vmin;
    align-self: flex-end;
  }
  .nav-icons {
   font-size: 2.8vmin;
   cursor: pointer;
}
}
